<ion-content>
  <div class="section section-top">
    <div class="overlay">
      <div class="content">
        <h1>Sell and Rent Out Property</h1>
        <p>Add Property to get started with ASASA</p>
      </div>
    </div>
  </div>

  <div class="section section-divider"></div>

  <div class="section section-form">
    <form [formGroup]="addPropertyForm">
      <ion-grid class="ion-no-padding" style="margin-top: 20px">
        <ion-row>
          <ion-col col-12>
            <div class="section-head ion-text-center">
              <h2>ADD PROPERTY</h2>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="selection-btn">
          <ion-col col-3 style="padding-right: 0;">
            <button
              ion-button
              class="pre-btn btn-sale btn-normal"
              [class.btn-yes]="selection === 'Sale'"
              [class.btn-no]="selection === 'Rent'"
              block
              (click)="selectSale()"
            >
              Sale
            </button>
          </ion-col>
          <ion-col col-3 style="padding-left: 0;">
            <button
              ion-button
              class="pre-btn btn-rent btn-normal btn-no"
              [class.btn-yes]="selection === 'Rent'"
              [class.btn-no]="selection === 'Sale'"
              block
              (click)="selectRent()"
            >
              Rent
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 style="padding-top: 0;">
            <div class="input-group" style="padding-top: 0;">
              <ion-label>Name<span class="sterik">*</span></ion-label>
              <ion-input
                type="text"
                formControlName="userName"
                class="input-control input"
                [class.input-error]="Username.invalid && (Username.dirty || Username.touched)"
              ></ion-input>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 style="padding-top: 0;">
            <div class="input-group" style="padding-top: 0;">
              <ion-label>Email<span class="sterik">*</span></ion-label>
              <ion-input
                type="email"
                formControlName="email"
                [class.input-error]="Email.invalid && (Email.dirty || Email.touched)"
                class="input-control input"
              ></ion-input>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 style="padding-top: 0;">
            <div class="input-group" style="padding-top: 0;">
              <ion-label>Mobile Number<span class="sterik">*</span></ion-label>
              <ion-input
                type="number"
                formControlName="mobileNo"
                [class.input-error]="MobileNo.invalid && (MobileNo.dirty || MobileNo.touched)"
                class="input-control input"
              ></ion-input>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 style="padding-top: 0;">
            <div class="input-group" style="padding-top: 0;">
              <ion-label>Enter City<span class="sterik">*</span></ion-label>
              <ion-input
                type="text"
                formControlName="city"
                [class.input-error]="City.invalid && (City.dirty || City.touched)"
                class="input-control input"
              ></ion-input>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 style="padding-top: 0;">
            <div class="input-group" style="padding-top: 0;">
              <ion-label
                >Enter Property Details<span class="sterik">*</span></ion-label
              >
              <ion-input
                type="text"
                formControlName="propertyDetails"
                [class.input-error]="PropertyDetails.invalid && (PropertyDetails.dirty || PropertyDetails.touched)"
                class="input-control input"
              ></ion-input>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 style="padding-top: 0;">
            <div class="input-group" style="padding-top: 0;">
              <ion-label
                >Select Property Type<span class="sterik">*</span></ion-label
              >
              <ion-select
                class="input"
                [class.input-error]="PropertyType.invalid && (PropertyType.dirty || PropertyType.touched)"
                formControlName="propertyType"
              >
                <ion-option *ngFor="let property of propertyTypes">
                  {{property}}
                </ion-option>
              </ion-select>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 style="padding-top: 0;">
            <div class="input-group" style="padding-top: 0;">
              <ion-label>Land Area<span class="sterik">*</span></ion-label>
              <ion-input
                type="number"
                min="0"
                formControlName="landArea"
                [class.input-error]="LandArea.invalid && (LandArea.dirty || LandArea.touched)"
                class="input-control input"
              ></ion-input>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 style="padding-top: 0;">
            <div class="input-group" style="padding-top: 0;">
              <ion-label
                >Select Land Area Unit<span class="sterik">*</span></ion-label
              >
              <ion-select
                class="input"
                [class.input-error]="LandAreaUnit.invalid && (LandAreaUnit.dirty || LandAreaUnit.touched)"
                formControlName="landAreaUnit"
              >
                <ion-option *ngFor="let area of areaUnits">
                  {{area}}
                </ion-option>
              </ion-select>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 style="padding-top: 0;">
            <div class="input-group" style="padding-top: 0;">
              <ion-label>Demand<span class="sterik">*</span></ion-label>
              <ion-input
                type="number"
                formControlName="demand"
                [class.input-error]="Demand.invalid && (Demand.dirty || Demand.touched)"
                class="input-control input"
              ></ion-input>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 style="padding-top: 0;">
            <div class="input-group" style="padding-top: 0;">
              <ion-label
                >Type Your Message<span style="font-weight: 700">...</span>
                <span class="sterik">*</span></ion-label
              >
              <textarea
                type="text"
                rows="3"
                formControlName="message"
                class="input-control textarea"
              ></textarea>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-top">
          <ion-col col-10 offset-1>
            <div class="ion-text-center">
              <button
                ion-button
                color="primary"
                [disabled]="addPropertyForm.invalid"
                (click)="addProperty()"
                type="submit"
                class="btn-normal btn-submit"
                block
              >
                Add Property
              </button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
