// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #38bba2,
  secondary: #096691,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@font-face {
  font-family: "Oswald-Bold";
  font-style: bold;
  font-weight: 700;
  src: url("../assets/fonts/Oswald-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Oswald";
  font-style: bold;
  font-weight: normal;
  src: url("../assets/fonts/Oswald-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Anton-Regular";
  font-style: bold;
  font-weight: normal;
  src: url("../assets/fonts/Anton-Regular.ttf");
}
@font-face {
  font-family: "Work-Sans";
  font-style: bold;
  font-weight: normal;
  src: url("../assets/fonts/workSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: "KumbhSans-Light";
  font-style: bold;
  font-weight: normal;
  src: url("../assets/fonts//KumbhSans-Light.ttf");
}

h1,
ion-button {
  font-family: "Oswald-Bold";
}
span,
.btn-normal,
h2,
h3,
h4,
h5,
h6,
ion-item,
ion-title,
ion-label {
  font-family: "KumbhSans-Light" !important;
}
p {
  font-family: "Work-Sans";
}
.section-divider {
  height: 15px;
  padding: 0;
  margin-top: 2rem;
  background: color($colors, primary);
}
